<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application</title>
  <style rel="stylesheet">
    body {
      margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    .container-wrap {
      width: 400px;
      margin: 0 auto;
      min-height: 350px;
      box-shadow: 0 -2px 12px -1px #636363;
    }

    .header {
      padding: 7px;
      border-bottom: 1px solid #dadada;
    }

    .header h2 {
      text-align: center;
    }

    table {
      width: 100%
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="container-wrap">
      <div class="header">
        <h2><%=title%></h2>
      </div>
      <div class="form-content"> 
        <form name="form1" method="POST" action="/login">
          <table>
              <tr>
              <td>Email</td>
              <td><input type="text" name="email" ></td>
              </tr>
              <tr>
              <td>Password</td>
              <td><input type="password" name="password" ></td>
              </tr>
              <tr>
              <td colspan="2"><input type="submit" value="Login" ></td>
              </tr>
          </table>
          </form>     
        </form>
      </div>
      <div class="action">

      </div>
    </div>
  </div>
</body>

</html>